body, html {
  margin: 0;
  height:100%;
}
#right {
    position: absolute;
    top: 60px;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
  }

.page-break{ 
    page-break-after: always;
}

.glow {
  -webkit-box-shadow:0 0 20px blue;
  -moz-box-shadow: 0 0 20px blue;
  box-shadow:0 0 20px blue;
}

#map {
  height:600px !important;
  width:100%;
}
